<%- include("template/cabecera", {tituloWeb: 'Página Index'}) %>


   <div class="container">

    <h1>Virtual Traveler</h1>

    <a
        class="btn btn-success w-100 my-4"  
        href="/api/empresa/crear"
    >
        Crear nueva Reserva
    </a>



    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Destino</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Asiento</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>

            <% if (result.length>0) { %>
                <% result.forEach(reserva => { %>
                    
                    <tr>
                        <th scope="row"><%= reserva.id  %></th>
                        
                        <td><%= reserva.destino  %> </td>
                        <td><%= reserva.nombre  %> </td>
                        <td><%= reserva.apellido  %> </td>
                        <td><%= reserva.telefono  %> </td>
                        <td><%= reserva.email  %> </td>
                        <td><%= reserva.fecha  %> </td>
                        <td><%= reserva.hora  %> </td>
                        <td><%= reserva.asiento  %> </td>
                        <td><a href="/api/empresa/<%=reserva.id%>"
                            class="btn btn-danger btn-sm"
                        >
                        Borrar
                        </a>
                      

                    
                    </tr>
                         
                <% }) %>
            <% } %>
        </tbody>
        </table>

 
   </div>

    <%- include("template/footer") %>